page-allfunds {

	.fixed-content {
    	background-color: #1A2225;
  	}

	.title {
		font-size: 200%;
		text-align: center;
		color: white;
	}

	.preview {
		width: 100%;
		padding: 3px;
	}

	.previewlist {
	}
	.spinner{
		color: white;
		font-size: 3em;
		margin:0px auto;
		text-align: center;
	}
}