<ion-content class="investments-content">
    <ion-row class='fund-name'>
        {{fund.name || "TEST"}} ({{fund.id || "TEST" | uppercase}})
    </ion-row>
    <div class = 'table'>
        <div class="row header">
          <div class="col">Security</div>
          <div class="col" style='text-align: right;'>Current Price</div>
          <div class="col" style='text-align: right;'>Shares Held</div>
          <div class="col" style='text-align: right;'>Percent</div>
        </div>
        <hr class='line'>
        <div *ngFor="let holding of fund.holdings">
            <div *ngIf="holding.security" class="row" (click)="openStockPage(holding.security)">
              <div class="col">{{holding.security.name}}({{holding.security.id}})</div>
              <div class="col" style='text-align: right;'>${{holding.security.current_price}}</div>
              <div class="col" style='text-align: right;'>{{holding.num_shares}}</div>
              <div class="col" style='text-align: right;'>{{holding.percent_share | number : '1.2-2'}}%
              </div>
            </div>
        </div>
    </div>
</ion-content>