<ion-content>
     <ion-row>
        <button ion-button class="top100-btn" (click)="navToTopFunds()">Top 100 Mutual Funds</button>
    </ion-row>
    <ion-row>
        <button ion-button class="region-btn"  (click)="navToByRegionPage()">Mutual Funds by Region</button>
    </ion-row>
    <ion-row>
        <button ion-button class="region-btn" (click)="navUserInfo()">User Page</button>
    </ion-row>
    <ion-row>
        <div class = "watching">
            Watching
        </div>
    </ion-row>
    <ion-row class="previewlist">
        <ion-row class="preview" *ngFor="let fund of fundList">
            <component-preview *ngIf="fund" [security_in] = "fund">
            </component-preview>
        </ion-row>
    </ion-row>
</ion-content>
