page-home {
  .page-content{
    padding: 20px;
  }
  padding: 10px;
  .fixed-content {
    padding: 20px;
    background-color: #1A2225;
  }

  .watching {
    padding:20px;
    color: white;
    font-size: 200%;
  }

  .preview {
    width: 100%;
  }
  .preview-list{
    padding: 20px;
  }
}
