page-login {


	#StackReportTitle{
		color: white;
	}

	#SignInHeader{
		color: white;
	}

  .login-content {
       background: #151A1D;
       margin-top:0px;
 
    .logo-row {
      padding-top: 30px;
      padding-bottom: 10px;
    }

    #logo {
    	max-width: 40%;
    	max-height: 40%;
    	width: auto;
    	height: auto;
    }
 
    .login-box {
      padding: 20px 20px 0px 20px;
      margin-top: 30px;
    }
 
    ion-row {
       align-items: center;
       text-align: center;
     }
 
     ion-item {
         border-radius: 30px !important;
         padding-left: 30px !important;
         font-size: 0.9em;
         margin-bottom: 10px;
         border: 2px solid #ffffff;
         border-bottom: 0px !important;
         box-shadow: none !important;
     }
 
     .signup-col {
       margin: 0px 16px 0px 16px;
       padding-bottom: 20px;
     }
 
     .item-inner {
       border-top-color: #ffffff !important;
       border-bottom-color: #ffffff !important;
       box-shadow: none !important;
     }
 
     .submit-btn {
       background: linear-gradient(#E92A7F, #8152BE);
       border-radius: 30px !important;
       border: 1px solid #ffffff;
     }
 
     .register-btn {
       color: #ffffff;
       font-size: 0.8em;
     }
 }
}
