component-preview {
	background-color: #3d3f42;
	border-radius: 8px;
	height: 50px;
	padding: 10px;
	width: 100%;

	.leftside {
		display: inline-block;
		float: left;
	}

	.ticker {
		color: white;
	}

	.name {
		color: gray;
		font-size: 75%;
	}

	.price {
		float: right;
	}	
}