component-preview {
	background-color: #2A2F33;
	border-radius: 8px;
	height: 50px;
	padding: 10px;
	width: 100%;

	.leftside {
		display: inline-block;
		float: left;
	}

	.rightside {
		float: right;
	}

	.ticker {
		color: white;
	}

	.name {
		color: gray;
		font-size: 75%;
	}

	.price {
		padding: 8px;
	}	

	.red {
		color: red;
	}

	.green {
		color: green;
	}

	.white {
		color: white;
	}
}