page-security {
  .fixed-content {
    background-color: #1A2225;
  }

  .fund-name {
    color: white;
    font-size: 250%;
  }

  .fund-price-label {
    color: #5E5F63;
  }

  .fund-price{
    color: white;
  }
}
