page-user {

	.fixed-content {
    	background-color: #1A2225;
  	}

	.title {
		font-size: 200%;
		text-align: center;
		color: white;
	}

    .user-data {
        color: white;
        text-align: center;
    }

	.preview {
		width: 100%;
		padding: 3px;
	}


}
