<ion-menu [content]="content">
    <ion-header>
        <ion-toolbar>
        <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>
      
    <ion-content>
        <ion-list>
        <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
            {{p.title}}
        </button>
        <button ion-item (click)="logout()">
            Logout
        </button>
        </ion-list>
    </ion-content>
</ion-menu>

    
<ion-header id="nav-bar-super">
    <ion-navbar class="navigation-bar">
        <ion-buttons left>
            <button *ngIf="checkHome()" ion-button icon-only start class="button" id="backButton" (click)="back()">
                <ion-icon name="arrow-back" class="back-btn"></ion-icon>
            </button>
            <button ion-button menuToggle start class="menu-btn">
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title class="title">
            StackReport
            <img src="https://i.imgur.com/n3PidFK.png" class="logo"/>
        </ion-title>
    </ion-navbar>
</ion-header>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav class="menu-nav" [root]="rootPage" #content swipeBackEnabled="false">
</ion-nav>

