page-home {

  .menu-btn {
    background-image: url("../../assets/icon/menu.png");
    height: 50px;
    width: 50px;
    background-size: contain;
    background-color: #151A1D;
  }

  .logo{
    // padding: 15px;
    color: white;
    font-size: 200%;
    margin: auto;
  }

  .home-content {
       background: #151A1D;
  }

  .icon {
    height: 50px;
    width: 40px;
  }
}
