
.content-padded{
  padding-top: 100px;
}

#backButton{
	padding-top: 5px;
	background-color: transparent;
	color: black;
}

.menu-btn{
	color: white;
	margin-top: -30px;
	margin-left: 20px;
}

.title{
	text-align: center;
}

.toolbar-background {
	background: #151515;
}

.toolbar-title {
	color: white;
}

.back-btn {
	color: white;
}

.logo{
	height: 24px;
	width: 20px;
	margin-bottom: -5px;
}